.toolbar {
    background-color: black;
    width: 70px; 
    height: 100vh;
}

#toolbar-toggle {
    position: absolute;
    top: 10px;
    right: 11px;
    z-index: 99999
}

.toolbar-button {
    color: white !important;
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}

.toolbar-button:hover {
    color: #4C9553 !important;
}

.toolbar-button > svg {
    font-size: 30px;
}

.MuiTooltip-tooltip {
    border-radius: 0 !important;
    background-color: black !important;
    font-size: 15px !important;
    user-select: none;
}

.zoom-button {
    color: black;
    position: absolute;
    bottom: 80px;
    right: 15px;
    font-size: 44px !important;
}

.zoom-button:hover, #toolbar-toggle:hover {
    color: #4C9553;
    cursor: pointer;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 200px;
    height: 200px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}