.GridTileOutline {
    width: 100px;
    aspect-ratio : 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7da36d;
}

.SelectedTileOutline { 
    background-color: #3d5052;
    z-index: 1;
}

.Draggable {
    cursor: move;
}

.GridTile {
    width: 90%;
    aspect-ratio : 1 / 1;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.GridTile:hover:not(.SelectedTile) {
    background-color: #606e5e;
}

.GridTile.FilledTile {
    background-color: #6b5d61;
    user-select: none;
}

.ColorPickable {
    cursor: url(../../public/colorPicker.png) 0 32, auto;
}

.Erasable {
    cursor: url(../../public/eraser.png) 6 25, auto;
}

.Fillable {
    cursor: url(../../public/paintBucket.png) 0 24, auto;
}
